@keyframes slight-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slight-up {
  animation: slight-up 0.5s ease-in-out;
}

@keyframes slight-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slight-down {
  animation: slight-down 0.8s ease-in-out;
}

@keyframes slight-left {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slight-left {
  animation: slight-left 0.8s ease-in-out;
}

@keyframes slight-right {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slight-right {
  animation: slight-right 0.5s ease-in-out;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fade-up 0.5s ease-in-out;
}
